@import url(http://fonts.googleapis.com/css?family=Jockey+One);

.value {
    width:80%;
    padding:4px;
}

.error {
    color: red;
}

.delete {
    background-image: url("./images/icon_png/delete.png") !important;
}

.baixar {
    background-image: url("./images/icon_png/baixar.png") !important;
}

.pdf {
    background-image: url("./images/icon_png/pdf.png") !important;
}

.key {
    background-image: url("./images/icon_png/key.png") !important;
}

.new {
    background-image: url("./images/icon_png/new.png") !important;
}

.save {
    background-image: url("./images/icon_png/save.png") !important;
}

.back {
    background-image: url("./images/icon_png/back.png") !important;
}

.edit {    
    background-image: url("./images/icon_png/pencil.png") !important;
}

.cadastro {    
    background-image: url("./images/icon_png/cadastro.png") !important;
}

.date {    
    background-image: url("./images/icon_png/date.png") !important;
}

.gear {    
    background-image: url("./images/icon_png/gear.png") !important;
}

.calendar {    
    background-image: url("./images/icon_png/calendar.png") !important;
}

.sair {    
    background-image: url("./images/icon_png/sair.png") !important;
}

.relatorio {    
    background-image: url("./images/icon_png/relatorio.png") !important;
}

.grafico {    
    background-image: url("./images/icon_png/grafico.png") !important;
}

.exemplar {    
    background-image: url("./images/icon_png/exemplar.png") !important;
}

.tag {    
    background-image: url("./images/icon_png/tag.png") !important;
}

.assunto {    
    background-image: url("./images/icon_png/assunto.png") !important;
}

.user {    
    background-image: url("./images/icon_png/user.png") !important;
}

.book {    
    background-image: url("./images/icon_png/book.png") !important;
}

.home {    
    background-image: url("./images/icon_png/home.png") !important;
}

.search {    
    background-image: url("./images/icon_png/search.png") !important;
}

.okay {    
    background-image: url("./images/icon_png/ok.png") !important;
}

.emprestimo {    
    background-image: url("./images/icon_png/carrinho.png") !important;
}

.cancel {    
    background-image: url("./images/icon_png/cancel.png") !important;
}

.adicionar {    
    background-image: url("./images/icon_png/adicionar.png") !important;
}

.outputLabel {
    font-weight: bold;
}

.grid {
    border: none!important;
    border-style: none!important;
    width:33%;
    padding:1px;
}

.grade {
    border: hidden!important;
    width:16%;
    padding:1px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-panelgrid-cell {
    border-style: hidden!important;
    background-color: #f5f3e5!important;    
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    background-image: url(images/header/cabecalho.jpg);
}

header h1 {
    padding: 15px 10px;
    font-family: "Jockey One", sans-serif;
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: -3px -3px 0 #0082C8;
}

.page-header {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.ui-breadcrumb ul li a {
    text-decoration: none;
}

.hide {
    display: none;
}

.panelGridLabel {
    text-align: right;
    display: block;
    font-weight: bold;
}

#main {
    margin-bottom: 20px;
}

.btn-small {
    font-size: .8em!important;
}

/* Prime Faces bug fixes caused by global box-sizing */
.ui-selectonemenu .ui-selectonemenu-trigger {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/* 
    Created on : 13/06/2019, 10:49:42
    Author     : John Peter
*/

